@media screen and (min-width: 600px) and (max-width: 900px) {


.article {

display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.article1-1{

    transform: rotate(90deg);
    flex-wrap:wrap ;
    justify-content: center;
    width: 40vw;

}
.article2-2{

    transform: rotate(90deg);
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;

}
main{
    width: 98vw;
}
}