body{
    margin: 0;
}
header{
    width: 100vw;
    height: 30vh;
    background-color: rgb(228, 245, 17);
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.b{
    width: 70vw;
    height: 70vh;
    background-color: rgba(224, 23, 23, 0.56);
}
.c{
    width: 30vw;
    height: 70vh;
    background-color: rgb(225, 137, 225);
}
div{
    display: flex;
}
p{
    font-size: 30px;
}
